/*!
 * Styles for Plugins
 * Used by EVE Online WordPress Theme
 */

/* WP-Pagenavi
----------------------------------------------------------------------------- */
@media all {
    .wp-pagenavi {
        margin-bottom: 25px;
        margin-bottom: 1.5625rem;
        text-align: center;
    }
}

/* fix for for siteorigin pagebuilder video widget
----------------------------------------------------------------------------- */
@media all {
    .sow-video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .sow-video-wrapper > iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        max-width: 100%;
    }
}

/* fix for oEmbed videos
----------------------------------------------------------------------------- */
@media all {
    .embed-video-container {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        margin: 0 0 24px;
        margin: 0 0 1.5rem;
    }

    .bootstrap-video-gallery .embed-video-container {
        margin: 0;
    }

    .embed-video-container iframe,
    .embed-video-container object,
    .embed-video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* flex-slider
----------------------------------------------------------------------------- */
@media all {
    .meta-slider {
        margin-bottom: 32px;
        margin-bottom: 2rem;
        margin-left: -16px;
        margin-left: -1rem;
        margin-right: -16px;
        margin-right: -1rem;
    }

    .flex-direction-nav .flex-prev {
        left: 0 !important;
    }
    .flex-direction-nav .flex-next {
        right: 0 !important;
    }

    .metaslider .caption-wrap {
        top: 0;
        bottom: initial !important;
        opacity: 0.5 !important;
        color: rgb(200, 200, 200);
    }

    .metaslider .caption {
        padding: 10px 10px !important;
        padding: 0.625rem 0.625rem !important;
    }

    .flex-control-nav {
        bottom: 10px !important;
        bottom: 0.625rem !important;
        z-index: 99 !important;
    }

    .flex-control-paging li a {
        background: rgba(255, 255, 255, 0.5) !important;
        box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3) !important;
    }

    .flex-control-paging li a.flex-active {
        background: rgba(255, 255, 255, 0.9) !important;
    }

    .metaslider .flexslider {
        margin: 0 !important;
    }

    .coin-slider {
        width: 100% !important;
        max-width: 1680px;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .coin-slider img {
        width: 100% !important;
        height: auto;
        max-width: 1680px;
    }
}

/* corp pages
----------------------------------------------------------------------------- */
@media all {
    .eve-corp-page-corp-logo {
        text-align: center;
        margin-bottom: 16px;
        margin-bottom: 1rem;
    }

    .eve-corp-page-corp-logo figcaption {
        text-align: center;
    }
}

@media all and (min-width: 560px) {
    .eve-corp-page-corp-logo {
        float: left;
        text-align: left;
        margin-right: 16px;
        margin-right: 1rem;
    }
}

/* shortcode [divider] (theme own shortcode)
----------------------------------------------------------------------------- */
@media all {
    .divider {
        margin-bottom: 25px;
        margin-bottom: 1.5625rem;
        padding-top: 25px;
        padding-top: 1.5625rem;
        clear: both;
        display: block;
        margin-bottom: 15px;
        margin-bottom: 0.9375rem;
        padding-top: 15px;
        padding-top: 0.9375rem;
        width: 100%;
        border-top: 1px solid rgb(220,220,220);
    }
}

/* bootstrap corplist theme plugin
----------------------------------------------------------------------------- */
@media all {
    .bootstrap-corporationlist {
        list-style-type: none;
        padding-left: 0;
    }

    .bootstrap-corporationlist img {
        margin: 0px auto;
        display: block !important;
    }
}

/* bootstrap gallery theme plugin
----------------------------------------------------------------------------- */
@media all {
    .bootstrap-gallery {
        list-style-type: none;
        padding-left: 0;
    }

    .bootstrap-gallery br {
        display: none;
    }

    .bootstrap-gallery li {
        margin-bottom: 16px;
        margin-bottom: 1rem;
    }

    .bootstrap-gallery-modal .bootstrap-gallery-image {
        cursor: pointer;
    }

    .bootstrap-gallery figure {
        position: relative;
    }

    .bootstrap-gallery figcaption {
        position: absolute;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(200, 200, 200);
        display: block;
        width: 100%;
        padding: 5px;
        padding: 0.3rem;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .modal.container {
        background: none;
    }

    .modal-bootstrap-photo-gallery {
        text-align: center;
    }

    .modal-bootstrap-photo-gallery .modal-dialog {
        position: initial;
        width: auto;
        margin: 0 auto;
        margin-top: 32px;
        margin-top: 2rem;
        display: inline-block;
    }

    .modal-bootstrap-photo-gallery .modal-close-icon {
        cursor: pointer;
        position: absolute;
        right: -14px;
        right: -0.875rem;
        top: -11px;
        top: -0.6875rem;
        font-size: 30px;
        font-size: 1.875rem;
        color:#fff;
        text-shadow: 1px 1px 18px rgb(0,0,0);
        text-shadow: 0.0625rem 0.0625rem 1.125rem rgb(0,0,0);
    }

    .modal-bootstrap-photo-gallery figure {
        position: relative;
    }

    .modal-bootstrap-photo-gallery figure img {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: calc(100vh - 150px);
        max-height: calc(100vh - 9.375rem);
    }

    .modal-bootstrap-photo-gallery figcaption  {
        position: absolute;
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0.75);
        display: block;
        width: 100%;
        padding: 16px;
        padding: 1rem;
        text-align: left;
    }

    .modal-bootstrap-photo-gallery .open-modal-image {
        position: absolute;
        right: 8px;
        right: 0.5rem;
        bottom: 8px;
        bottom: 0.5rem;
    }

    .modal-bootstrap-photo-gallery .modal-navigation {
        margin-top: 8px;
        margin-top: 0.5rem;
    }

    main .bootstrap-gallery-image:hover img {
        -webkit-box-shadow: 0 0 5px #000;
        -moz-box-shadow: 0 0 5px #000;
        box-shadow: 0 0 5px #000;
    }
}

/* boostrap content elements theme plugin
----------------------------------------------------------------------------- */
@media all {
    .bootstrap-content-grid {
        list-style-type: none;
        padding-left: 0;
    }
}

/* Latest Blogposts
----------------------------------------------------------------------------- */
@media all {
    .latest-blogposts-headline {
        text-align: center;
        line-height: 1.4rem;
    }

    .latest-blogposts-headline-decoration {
        line-height: 0em;
        text-align: center;
        margin-top: 20px;
        margin-top: 1.25rem;
        margin-bottom: 30px;
        margin-bottom: 1.875rem;
    }

    .latest-blogposts-headline-decoration-inside {
        height: 1px;
        height: 0.0625rem;
        display: inline-block;
        border-top: 1px solid rgb(238,238,238);
        border-top: 0.0625rem solid rgb(238,238,238);
        width: 100%;
        max-width: 80%;
    }
}

/* killboard widget
----------------------------------------------------------------------------- */
@media all {
    .eve-killboard-widget ul {
        list-style-type: none;
        padding-left: 0 !important;
    }

    .eve-killboard-widget .killboard-entry {
        margin-bottom: 16px;
        margin-bottom: 1rem;
    }

    .eve-killboard-widget .killboard-entry:last-child {
        margin-bottom: 0;
    }
}

@media all and (min-width: 1200px) {
    .eve-killboard-widget ul {
        font-size: 80%;
    }
}

@media all and (min-width: 1600px) {
    .eve-killboard-widget ul {
        margin-top: 8px;
        font-size: 80%;
    }
}

/* childpages widget
----------------------------------------------------------------------------- */
@media all {
    .eve-childpage-menu-widget ul {
        list-style: none;
    }

    .eve-childpage-menu-widget .childpages-list {
        padding-left: 0;
    }

    .childpages-list > .page_item {
        border-bottom: 1px solid rgb(220,220,220);
        /*border-bottom: 1px solid rgb(185,192,199);*/
    }

    .childpages-list > .page_item:last-child {
        /*border-bottom: none;*/
    }

    .childpages-list .page_item a {
        padding: 0.5rem 1rem 0.5rem 0;
        display: block;
        color: inherit;
    }

    .childpages-list .page_item a:hover, .childpages-list .current_page_item > a {
        text-decoration: none;
        color: #23527c;
    }

    .childpages-list .current_page_item > a,
    .childpages-list .current_page_parent > a {
        color: #23527c;
    }

    .childpages-list > .page_item > .children {
        border-top: 1px solid rgb(220,220,220);
        /*border-top: 1px solid rgb(185,192,199);*/
    }

    .childpages-list .children .page_item a:hover::before, .childpages-list .children .current_page_item > a::before {
        content: '';
        display: inline-block;
        /* margin-left: -1.2125rem; */
        margin-left: -0.75rem;
        margin-right: 0.5rem;
        border: 0 solid rgba(0,0,0,0);
        border-width: 0.4rem 0.2rem 0.4rem 0.3125rem;
        /*border-left-color: rgb(220,119,0);*/
        border-left-color: rgb(185,192,199);
    }

    .childpages-list .children {
        display: none;
    }

    .childpages-list .current_page_item .children,
    .childpages-list .current_page_parent .children {
        display: block;
    }
}

/* gutenberg tweaks
----------------------------------------------------------------------------- */
@media all {
    .wp-block-gallery li figure {
        cursor: pointer;
    }

    .wp-block-gallery li figure:hover img {
        -webkit-box-shadow: 0 0 5px #000;
        -moz-box-shadow: 0 0 5px #000;
        box-shadow: 0 0 5px #000;
    }
}
