@charset "UTF-8";

/* fix for oEmbed videos
----------------------------------------------------------------------------- */
.embed-video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.embed-video-container iframe,
.embed-video-container object,
.embed-video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* settings api file upload
----------------------------------------------------------------------------- */
.uploaded-file-url, .uploaded-image {
	display: none;
	padding: 0.5rem;
}

.settings-type-radio {
	list-style-type: none;
}

.settings-type-radio li.horizontal {
	display: inline-block;
	text-align: center;
	margin: 0.5rem;
}

.settings-type-radio li.horizontal:first-child {
	margin-left: 0;
}

.settings-type-radio li.horizontal:last-child {
	margin-right: 0;
}

.settings-type-radio li.horizontal input {
	width: 100%;
}

.settings-type-radio figure {
	margin: 0rem;
	margin-top: 0.5rem;
}

.upload-button a {
	text-decoration: none;
}

.remove {
	margin-top: 0.5rem;
}

ul.settings-group {
	margin-top: 0;
}